<!DOCTYPE html>
<html>
	<head>
		{% block head %}
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

			<title>{% block title %} nodeJS - {% endblock %} </title>
			{% block stylesheets %}
				{# CSS Font Navbar #}
				<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
				{# CSS Font Navbar #}
				{# social media icons #}
				<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
				{# social media icons #}
			{% endblock %}
		{% endblock %}
	</head>

	<body>

		{% block body %}
		{% endblock %}

	</body>
		{% block javascripts %}
			<script src="/socket.io/socket.io.js"></script>
        	<script>
        	    var socket = io.connect('http://localhost:8070');
        	</script>
		{% endblock %}
	<footer>
		{% block footer %}
		{% endblock %}
	</footer>
</html>

