{% extends 'layout.html.twig' %}

{% block title %}todolist{% endblock %}

{% block body %}
	<a href="/">retour Accueil</a>
	<hr>
	<br>
	<br>
	<br>
	<div style="text-align: center;">
		{% set i = -1%}
		{% for todo in list %}
		{% set i = i + 1 %}
				<p>{{ todo }}</p>
				<a href="/deletetodo/{{ i }}">delete</a>
		{% endfor %}
        <form action="/addtodo" method="POST">
            <p>
                <label for="newtodo">Que dois-je faire ?</label>
                <input type="text" name="newtodo" autofocus />
                <input type="submit" />
            </p>
        </form>
	</div>
{% endblock %}
